<div>
<div class="heading">User List</div>
{{#each model as |user|}}
  <div class='row-item'><span class='test-user-firstName'>{{user.firstName}}</span> {{user.lastName}}--({{user.email}})</div><br/>
{{/each}}

{{outlet}}
</div>