{{#if input.isInvalidAndTouched}}
  <div class="md-input-messages-animation md-auto-hide">
    {{#each input.validationErrorMessages as |error index|}}
      {{#if (eq index 0)}}
        <div id="error-{{inputElementId}}-{{index}}" class="paper-input-error ng-enter ng-enter-active md-input-message-animation"
          style="opacity: 1; margin-top: 0">
          {{error.message}}
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/if}}